In [1]:
import pandas as pd
import re 

'''def clean_company_name(name: str) -> str:
    """Normalize stock names to plain company names."""
    name = re.sub(r'\bCommon Stock\b', '', name, flags=re.IGNORECASE)
    name = re.sub(r'\bOrdinary Shares?\b', '', name, flags=re.IGNORECASE)
    name = re.sub(r'\bDepositary Shares?.*', '', name, flags=re.IGNORECASE)
    name = re.sub(r'\bClass [A-Z]\b', '', name, flags=re.IGNORECASE)
    name = re.sub(r'\bLtd\b', 'Limited', name, flags=re.IGNORECASE)
    name = re.sub(r'\s+', ' ', name).strip()
    return name'''

# Load both ticker lists
#nyse_df = pd.read_csv("nyse_screener.csv")
#nasdaq_df = pd.read_csv("nasdaq_screener.csv")
Top_100 = pd.read_csv(r"C:\Users\lucas\OneDrive\Desktop\NLP\top_100_companies_2022.csv", encoding='latin1')

# Combine into a single DataFrame
#all_tickers = pd.concat([nyse_df, nasdaq_df], ignore_index=True)

# Normalize column names just in case
#all_tickers.columns = [col.strip().lower() for col in all_tickers.columns]
Top_100.columns = [col.strip().lower() for col in Top_100.columns]

# Clean names
#all_tickers['clean_name'] = all_tickers['name'].apply(clean_company_name)

# Create dictionaries for fast lookups
ticker_to_name = dict(zip(Top_100['symbol'].str.upper(), Top_100['name']))
valid_tickers = set(ticker_to_name.keys())
company_names = [name.lower() for name in ticker_to_name.values()]
name_to_ticker = {name.lower(): symbol for symbol, name in ticker_to_name.items()}

In [5]:
#imports
import json
import pandas as pd
import spacy
import re
from tqdm import tqdm
import spacy
import pandas as pd
import spacy
import warnings
from rapidfuzz import process, fuzz

#model
nlp = spacy.load('en_core_web_sm')

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

#to be ran per comment
def extract_ner_entities(model, text, similarity_threshold=90):
    
    BLACKLIST = {'ev', 'covid', 'etf', 'nyse', 'sec', 'spac', 'fda', 'treasury', 'covid-19', 'rrsp', 'tfsa','fed', 'Reuters aggregated](https://www.streetinsider.com/Reuters'.lower()}
    doc = model(text)
    detected_companies = []

    #Detect companies via spaCy NER
    for ent in doc.ents:
        if ent.label_ == "ORG" and ent.text.lower() not in BLACKLIST:
            org_name = ent.text.strip()
            # Fuzzy match against official company names from csv file
            match, score, _ = process.extractOne(org_name.lower(), company_names, scorer=fuzz.token_sort_ratio)
            if score >= similarity_threshold:
                matched_ticker = name_to_ticker[match]
                canonical_name = ticker_to_name[matched_ticker]
                detected_companies.append(canonical_name)
            else:
                #keeps companies not in csv file maybe delete later
                detected_companies.append(org_name)

    # --- Match stock tickers in text ---
    for token in doc:
        token_text = token.text.strip()

        # Handle tickers with $ prefix, e.g. $AAPL
        if token_text.startswith("$"):
            token_text = token_text[1:]

        # Check if itâ€™s a valid ticker symbol
        if token_text in valid_tickers:
            company_name = ticker_to_name.get(token_text)
            detected_companies.append(company_name)


    return list(set(detected_companies))


def get_dict_top_companies(dataset, column_name, top_companies=3):
    company_counter = dict()
    for companies in dataset[column_name]:
        for company in companies:
            if company in company_counter:  
                company_counter[company] += 1
            else:
                company_counter[company] = 1
    sorted_dict = dict(sorted(company_counter.items(), key=lambda x: x[1], reverse=True))
    top = dict()
    for company, count in list(sorted_dict.items())[:top_companies]:
        top[company] = count

    return top

In [ ]:
pre_processed_sub = pd.read_csv(r"C:\Users\lucas\OneDrive\Desktop\NLP\processed_sub_2.csv")

# Ensure every cell is a string (NaN -> "")
pre_processed_sub["selftext"] = pre_processed_sub["selftext"].fillna("").astype(str)

# Safe wrapper so extract_ner_entities always receives a string
def safe_extract(text):
    if not text or not isinstance(text, str):
        return []
    return extract_ner_entities(nlp, text, similarity_threshold=60)

pre_processed_sub["Companies"] = pre_processed_sub["selftext"].apply(safe_extract)

{'Apple': 320, 'Tesla': 281, 'Amazon': 274}

In [ ]:
import os

top_dict = get_dict_top_companies(pre_processed_sub, "Companies")
top_set = set(top_dict.keys())
print(f"Top companies: {sorted(top_set)}")

mask = pre_processed_sub['Companies'].apply(lambda lst: bool(top_set.intersection(lst)))
filtered_df = pre_processed_sub[mask].copy()

exploded = filtered_df.explode('Companies')

# Keep only rows for top companies 
exploded = exploded[exploded['Companies'].isin(top_set)].copy()

for company, df_company in dfs_by_company.items():
    print(f"=== {company.upper()} ({len(df_company)} rows) ===")
    display(df_company.head(3))   
    print("\n")

# --- Create separate dataframes for each top company ---
dfs_by_company = {}
os.makedirs("companies_csv", exist_ok=True)

for company in top_set:
    dfs_by_company[company] = exploded[exploded['Companies'] == company].copy()
    file_path = os.path.join("companies_csv", f"{company}_submissions.csv")
    dfs_by_company[company].to_csv(file_path, index=False)
    print(f"{company}: {len(dfs_by_company[company])} rows saved to {file_path}")

filtered_df.to_csv("filtered_submissions_top_companies.csv", index=False)  #not really needed, just the dataframe with all top companies submissions
print("Saved filtered_submissions_top_companies.csv")

Top companies: ['Amazon', 'Apple', 'Tesla']
=== TESLA (281 rows) ===

,created_utc,score,selftext,processed_text,Companies
1,1654092072,13,"Electric vehicle giant Tesla, Inc. (TSLA) in A...","electric vehicle giant tesla, inc. (tsla) aust...",Tesla
15,1654118137,4569,&amp;#x200B;\n\nTesla Inc. Chief Executive Off...,#x200b; tesla inc. chief executive officer elo...,Tesla
34,1654188304,123,[https://www.reuters.com/business/autos-transp...,"( volkswagen ceo, herbert diess, says tesla 2x...",Tesla

=== AMAZON (274 rows) ===

,created_utc,score,selftext,processed_text,Companies
84,1654338401,0,I'm looking to close a trade on AMZN as I feel...,looking close trade amzn feel much tied one st...,Amazon
124,1654527844,16,How do you think the stock price will be behav...,think stock price behave? fundamentally nothin...,Amazon
130,1654539718,37,Amazon (AMZN) performed a 20:1 stock split tod...,amazon (amzn) performed 20:1 stock split today...,Amazon

=== APPLE (320 rows) ===

,created_utc,score,selftext,processed_text,Companies
2,1654093064,165,AAPL is moving some of its iPad production fro...,aapl moving ipad production china vietnam stri...,Apple
14,1654117409,14,What are your thoughts on [WWDC 2022? Bullish ...,thoughts ( since presenting advanced reality h...,Apple
39,1654201347,17,Curious what people have to think here:\n\n24 ...,curious people think here: 24 y/o canadian tfs...,Apple

âœ… Tesla: 281 rows saved to companies_csv\Tesla_submissions.csv
âœ… Amazon: 274 rows saved to companies_csv\Amazon_submissions.csv
âœ… Apple: 320 rows saved to companies_csv\Apple_submissions.csv
ðŸ’¾ Saved filtered_submissions_top_companies.csv