In [1]:
'''Imports'''
import json
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [2]:
'''Reading Data'''
data_dir_comments = r"C:\Users\gungo\OneDrive\Desktop\stocks_comments.ndjson"
data_dir_sub = r"C:\Users\gungo\OneDrive\Desktop\stocks_submissions.ndjson"
df_com = pd.read_json(data_dir_comments, lines=True)
df_sub = pd.read_json(data_dir_sub, lines=True)

In [3]:
'''Reducing Data'''
df_com_reduced = df_com[['created_utc','score','body']]
df_sub_reduced = df_sub[['created_utc','score','selftext']]

In [ ]:
'''Pre-Processing'''
nltk.download('stopwords', quiet=True)
stop_words = set(stopwords.words('english'))
stemmer = PorterStemmer()

def preprocess_text(text):
    """Cleans, tokenizes, removes stopwords, and stems text."""
    if not isinstance(text, str):
        return ""
    text = text.lower()
    text = re.sub(r'&amp;#x200B;', '', text)
    text = re.sub('&amp;', '', text) # remove some special characters from the data &amp; corresponds to &
    text = re.sub(r'\s+', ' ', text)  # eliminate duplicate whitespaces using regex
    text = re.sub(r'\[[^]]*\]', '', text)  # remove text in square brackets
    text = re.sub(r'http\S+', '', text)  # remove URLs
    text = re.sub(r'inc', '', text) # remove inc
    text = ' '.join(word for word in text.split() if word not in stop_words)
    #text = ' '.join(stemmer.stem(word) for word in text.split() if word not in stop_words)
    return text

def preprocess(df):
    """Preprocesses the 'body' or 'selftext' column and removes '[removed]' entries."""
    # Determine which column to process
    if 'body' in df.columns:
        text_col = 'body'
    elif 'selftext' in df.columns:
        text_col = 'selftext'
    else:
        raise ValueError("DataFrame must contain either 'body' or 'selftext' column.")

    # Remove NaN and '[removed]' rows
    df = df[df[text_col].notna()]
    df = df[~df[text_col].str.contains(r'\[removed\]', na=False)]
    df = df[~df[text_col].str.contains(r'\[deleted\]', na=False)]

    # Apply text preprocessing
    df['processed_text'] = df[text_col].apply(preprocess_text)

    return df.reset_index(drop=True)

pre_processed_sub = preprocess(df_sub_reduced)
pre_processed_com = preprocess(df_com_reduced)

In [5]:
'''Comment Linking'''
#df_com.info()
#df_sub.info()
df_com_test = df_com[['created_utc','score','id','parent_id','body']]
df_sub_test = df_sub[['created_utc','score','id','selftext']]
#df_com_test.head(20)

In [7]:
'''Display'''
pre_processed_sub.head(20)

,created_utc,score,selftext,processed_text
0,1654089814,7,Is it stupid to purchase the same stock in a d...,stupid purchase stock different account? examp...
1,1654092072,13,"Electric vehicle giant Tesla, Inc. (TSLA) in A...","electric vehicle giant tesla, inc. (tsla) aust..."
2,1654093064,165,AAPL is moving some of its iPad production fro...,aapl moving ipad production china vietnam stri...
3,1654093501,2,I got a second call today about a newly listed...,got second call today newly listed company fou...
4,1654093999,11,"Bought $APPS at \~43USD, thought it would cont...","bought $apps \~43usd, thought would continue i..."
5,1654094485,2954,https://www.cnbc.com/2022/06/01/jamie-dimon-sa...,jpmorgan chase ceo jamie dimon says preparing ...
6,1654095324,1,If you ask someone to guess how many jellybean...,"ask someone guess many jellybeans jar, time gu..."
7,1654095499,6,Been searching but can’t find my specific answ...,searching can’t find specific answer - bought ...
8,1654095621,37,Watching Bloomberg Markets: Americas - they be...,watching bloomberg markets: americas - believe...
9,1654098372,6,Read full article: [https://www.cnbc.com/2022/...,"read full article: ( according article, goldma..."
10,1654103793,6,"Hey all,\n\nMaybe a bit of a silly question. I...","hey all, maybe bit silly question. know genera..."
11,1654104655,7,[https://sec.report/CIK/0001521365/Insider-Tra...,( #x200b; understand buying stock generally go...
12,1654108645,7,"Hi all,\n\nI was wondering if anyone knew of a...","hi all, wondering anyone knew tool / report sh..."
13,1654112421,15,"Hi guys, as title suggests, I'm looking for an...","hi guys, title suggests, looking suggestions r..."
14,1654117409,14,What are your thoughts on [WWDC 2022? Bullish ...,thoughts ( since presenting advanced reality h...
15,1654118137,4569,&amp;#x200B;\n\nTesla Inc. Chief Executive Off...,#x200b; tesla inc. chief executive officer elo...
16,1654119278,6,Balancing trading with a 9-5\n\nWith a Uk mark...,balancing trading 9-5 uk market opening 8 clos...
17,1654120429,221,https://markets.businessinsider.com/news/commo...,according citi's head global commodity researc...
18,1654122003,11,"As title says, I put some money in VMware (aro...","title says, put money vmware (around £8), toda..."
19,1654133425,4,I’m looking for a website/application which ca...,i’m looking website/application help get detai...

In [14]:
'''Search'''
def search_all_pattern(pattern, data):
    if 'body' in data.columns:
        text_col = 'body'
    elif 'selftext' in data.columns:
        text_col = 'selftext'
    else:
        raise ValueError("DataFrame must contain either 'body' or 'selftext' column.")
    # list to store our data
    all_matches = []

    # keep track of the comment index to store it in the output (acts as a unique identifier for each comment in this simple example)
    i = 0

    # iterate through the comments
    for comment in data[text_col]:

        # search for our regex pattern
        matches = re.finditer(pattern, comment)

        # iterate through all matches in the comment
        for match in matches:
            # lets store all and the matches start and end in a json object in our list (one json object for each match)
            all_matches.append({'comment_index': i, 'comment': comment, "match_start": match.start(), "match_end": match.end()})

        # increase the comment index
        i+=1
    # return the matching comments and the start/end of each match in a pandas DataFrame
    return pd.DataFrame(all_matches)

regex_pattern = 'inc'
all_matches = search_all_pattern(regex_pattern, pre_processed_com)
print(f"Overall we find {all_matches.shape[0]} matches for '{regex_pattern}' in our dataset!")
all_matches[:20]

Overall we find 63065 matches for 'inc' in our dataset!

,comment_index,comment,match_start,match_end
0,5,Highly coincidental that this drastic drop in ...,9,12
1,11,This explains why the metaverse ETF META (that...,111,114
2,14,I've been buying oil since the mid 60s and tha...,22,25
3,14,I've been buying oil since the mid 60s and tha...,356,359
4,14,I've been buying oil since the mid 60s and tha...,495,498
5,31,Fund managers don't even need to beat the mark...,190,193
6,47,I don't know much about them . Only that on Fi...,91,94
7,58,Im not going to waste my valuable toilet time ...,130,133
8,86,"okay, but how much have they lost shorting Tes...",50,53
9,97,"Canadian players are cheap. Suncor, CNRL, Ceno...",278,281
10,100,I bought tesla right after it split it hasn’t ...,73,76
11,101,Is there a possibility that when it splits 20 ...,84,87
12,104,I wonder how much they lost shorting it since ...,41,44
13,131,"Dollar is crashing. Not due to printing, but d...",242,245
14,172,Because this sub is so lost and they do anythi...,65,68
15,213,So what three years ago I paid for my Tesla tr...,173,176
16,252,There is no credible evidence they will attack...,61,64
17,307,&gt; 60% growth isn’t sustainable\n\nDepends o...,298,301
18,322,"Thats why I started the sentence with ""The com...",61,64
19,353,1. Taiwan isn't nor has it ever been a provinc...,43,46

In [8]:
'''Export'''
pre_processed_sub.to_csv('preprocessed-sub.csv', index=False)